@import '../../variables.scss', '../../breakpoints.scss';

.alert {
	display: flex;
	width: fit-content;
	background-color: $primary-red-light;
	margin-top: 0.5rem;
	padding: 0.5rem 1rem;
	border-radius: 8px;
	color: rgba($primary-white, 0.75);

	@include md {
		font-size: $font-size-l;
		width: 100%;
	}

	svg {
		font-size: 1.2rem;
		margin-right: 0.25rem;
		position: relative;
		top: 3px;
		color: rgba($primary-white, 0.75);

		@include md {
			font-size: 1rem;
			top: 2px;
		}
	}
}
