@import '../../variables', '../../breakpoints.scss';

.error {
	display: flex;
	margin-top: 2rem;
	background-color: $primary-red-light;
	border-radius: 8px;
	color: $primary-white;
	padding: 1rem;

	@include md {
		font-size: $font-size-l;
	}

	> svg {
		margin-right: 0.5rem;
		position: relative;
		top: 0.3rem;

		@include md {
			top: 0.2rem;
		}
	}
}
