@import '../../variables.scss', '../../breakpoints.scss';

.followers-list {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;

	.user-followers-page-back {
		margin-bottom: 1rem;

		a {
            display: flex;
			text-decoration: none;
			color: $primary-white;

            svg {
                position: relative;
                top: 4px;
                margin-right: 0.5rem;
            }
		}
	}

	h2 {
		@include md {
			margin-bottom: 1rem;
		}
	}

	.followers-list-grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		margin-top: 1rem;
		gap: 1rem;
		width: 100%;

		@include breakpoint(1200px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include xl {
			grid-template-columns: repeat(3, 1fr);
		}

		@include breakpoint(860px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include lg {
			grid-template-columns: repeat(2, 1fr);
		}

		@include md {
			grid-template-columns: repeat(1, 1fr);
			margin-top: 0;
		}

		@include sm {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
