@import '../../variables.scss', '../../breakpoints.scss', '../../mixins.scss';

.followers-list {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;

	.user-followers-page-back {
		@include backButton;
	}

	h2 {
		@include md {
			margin-bottom: 1rem;
		}
	}

	.followers-list-grid {
		@include gridLayout;
	}
}
