@import '../../variables.scss', '../../breakpoints.scss';

.repos-list {
	margin-top: 2rem;

	.user-repos-page-back {
		margin-bottom: 1rem;

		a {
			display: flex;
			text-decoration: none;
			color: $primary-white;

			svg {
				position: relative;
				top: 4px;
				margin-right: 0.5rem;
			}
		}
	}

	.repos-list-heading {
		display: flex;
		justify-content: space-between;

		@include lg {
			flex-direction: column;
			align-items: flex-start;
		}

		button {
			background-color: transparent;
			border: none;
			color: $primary-white;
			font-size: $font-size-l;
			cursor: pointer;
			padding: 0;

			@include lg {
				margin-top: .5rem;
				align-self: flex-end;
			}
		}
	}

	.repos-list-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 1rem;
		margin-top: 1rem;
	}
}
