@import '../../variables.scss', '../../breakpoints.scss';

.repo-item {
	background-color: $dark-primary-gray;
	padding: 2rem;
	border-radius: 8px;
	box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.35);
	display: flex;
	justify-content: space-between;

	@include lg {
		flex-direction: column;
		align-items: flex-start;
	}

	@include md {
		padding: 1rem;
	}

	.repo-item-info {
		@include lg {
			margin-bottom: 2rem;
		}

		.repo-item-name {
			margin-bottom: 1rem;
			display: flex;
			width: fit-content;
			color: $primary-white;
			max-width: 800px;
			cursor: pointer;

			p {
				font-size: 1.2rem;

				@include md {
					font-size: 1rem;
				}
			}

			svg {
				margin-right: 0.5rem;
				position: relative;
				top: -5px;
				font-size: 2rem;
				color: $primary-gray-light;
			}
		}

		.repo-item-description {
			max-width: 800px;

			p {
				font-size: 0.9rem;

				@include md {
					font-size: 0.8rem;
				}
			}

			@include md {
				margin: 0 0.2rem;
			}
		}
	}

	.repo-item-stats {
		width: 300px;
		min-width: 200px;
		max-width: 400px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 2rem;
		padding: 1rem;
		border-radius: 8px;
		background-color: $dark-primary-gray-light;

		@include lg {
			margin-left: 0;
		}

		@include md {
			width: 100%;
			margin: 0;
			padding: 1rem 0;
		}

		.repo-item-stats-item {
			margin-right: 3rem;
			display: flex;
			flex-direction: column;
			align-items: center;

			@include lg {
				padding: 0;
			}

			@include md {
				font-size: 0.8rem;
			}

			@include sm {
				margin-right: 2rem;
			}

			.icon {
				margin-bottom: 0.5rem;
				font-size: 1.3rem;
			}

			.repo-icon-stars {
				fill: #ffff00;
			}

			.repo-icon-watchers {
				fill: #04c5e3;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
