@import '../../variables.scss', '../../breakpoints.scss';

.repos-list {
	margin-top: 2rem;

	.user-repos-page-back {
		margin-bottom: 1rem;

		a {
			display: flex;
			text-decoration: none;
			color: $primary-white;

			svg {
				position: relative;
				top: 4px;
				margin-right: 0.5rem;
			}
		}
	}

	.repos-list-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 1rem;
		margin-top: 1rem;
	}
}
