@import 'variables';

// import google font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

/*
 CSS Reset
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

html,
body {
	height: 100%;
}

html {
	color: $secondary-gray-light;
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: Poppins, -apple-system, system-ui, sans-serif;
	background-color: $dark-primary-gray-light;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	word-break: break-word;
}

#root,
#__next {
	isolation: isolate;
}

.main-content {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;

	.container {
		width: 100%;
		max-width: 1300px;
		padding: 0 2rem;
		margin: 0 auto 10rem auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
