//  -----------------------------
//  Theme Colors
//  -----------------------------

$primary-gray-light: #828fa3;
$secondary-gray-light: #f4f7fd;

$primary-red-light: #ea5555;
$secondary-red-light: #ff9898;

$primary-black: #000112;
$primary-white: #ffffff;

// Dark-theme colors
$dark-primary-gray-light: #3e3f4e;
$dark-primary-gray: #2b2c37;
$darker-primary-gray: #20212c;

//  ---------------------------
//  Heading Sizes
//  ---------------------------

$heading-xl: 24px;
$heading-lg: 18px;
$heading-md: 15px;
$heading-sm: 12px;

// ---------------------------
//  Font Sizes
//  ---------------------------

$font-size-l: 13px;
$font-size-m: 12px;

// -----------------------------
//  Box Shadows
//  -----------------------------

$box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.0951141);

// -----------------------------
//  Transitions
//  -----------------------------

$ease-1: 0.1s ease-out;
$ease-2: 0.2s ease-out;
$ease-3: 0.3s ease-out;
